* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;*/

.header-bg{
  background-image: url('./imgs/header-bg.png');
  padding: 35px 0;
  filter: drop-shadow(5px 10px 20px #790600);
}

.tp1 {
  font-weight: 900;
  font-size: 150;
  text-align: center;
  color: #ffa987;
  filter: drop-shadow(10px 10px 10px #000000);
}

.tp1 .letter {
  display: inline-block;
  line-height: 1em;
}

body {
  background: linear-gradient(to right , #ffa987, #ff96d3);
}

.intro-text {
  width: 90%;
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  margin: 1.5em auto 0 auto;
  color: #EC524B;
  padding: 1.5em 1em;
  border-radius: 10px;
}

.intro-text h2{
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  color:  #e40303;
  font-weight: bolder;
}

.extra{
  display: none;
}

.anim {
  animation: anim 0.8s ease;
}

.big-container{
  width: 90%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  height: auto;
  padding: .5em;
  border-radius: 1.5em;
  box-shadow: 5px 10px 20px #ff7c75;
}

.responsive{
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.button{
    align-self: center;
    margin-top: -1.3em;
}

a.btn{
  display: inline-block;
  padding: 0 .3em;
  margin: 0 auto;
  border-radius: 0.25em;
  text-decoration: none;
  color: rgb(49, 0, 0) ;
  background-color: #ff9b61;
  text-align: center;
  transition: all 0.125s;
  font-size: 1.9em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

a.btn:hover{
  background-color: #e40303;
  color: #f3eac2;
  filter: drop-shadow(5px 10px 10px #790600);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px){

  .header-bg{
    filter: drop-shadow(3px 5px 10px #790600);
  }
  
  .intro-text{
    font-size: 0.9em;
    margin:  15px auto 0 auto;
    border-radius: 1em;
    padding: 20px;
    filter: drop-shadow(0px 5px 20px #ff7c75);
  }

  a.btn{
    font-size: 1.25em;
    letter-spacing: .125em;
    margin-bottom: 0;
  }
  .container{
    padding-bottom: 0.5em;
    margin: 10% auto;
  }

  .container:nth-child(1){
    margin-top: 3%;
  }

  .button{
    margin-top: -1.2em;
  } 

}

@media screen and (max-width: 350px){
  
  a.btn{
    font-size: 1em;
  }
  
}
